@import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');


/* GLOBAL CSS */
* {
  font-size: 11px;
}
tbody.collapse.in {
  display: table-row-group;
}
th, td {
  white-space: nowrap;
  overflow: hidden;
}

/* ID's  */
#lease-items {
  background-color: rgba(227, 227, 227, 0.40);
  width: 100vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

/* CLASSES  */
.amount-negative {
  color: rgb(36, 172, 103);
}
.amount {
  color:;
}
.group-of-rows {
  margin-left: 100px;
}
.status {
  width: 80px;
}

.declined {
  color: rgb(228, 21, 21);
}

.approval_details, .epo_details {
  color:rgb(68, 140, 208);
}

.version {
  text-align: right;
  margin-top: 50px;
  margin-right: 30px;
}
